// fonts

@font-face {
    font-family: Voyage;
    src: url(../assets/voyage-bold.woff);
}

$font-primary: 'Questrial', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$font-secondary: 'Voyage', 'Questrial', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

// colors
$color-primary: #9366cd;

// breakpoints
$medium: 991px;