.item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-container.list {
  flex-direction: column;
}

.item-container li {
  flex: 0 0 50%;
  max-width: 50%;
}

.item-container.list li {
  flex: 0 0 100%;
  max-width: 100%;
}

.item-container li.isCurrent {
  order: -1;
  flex: 0 0 100%;
  max-width: 100%;
}

.item-container li .item-wrapper {
  display: inline-flex;
  flex-direction: row;
  gap: 20px;
}

.item-container li .item-wrapper .item-left-col {
  min-width: 100px;
  width: 100px;
}

.sort-container {
  display: flex;
}